<template name="newContact">
  <div class="ui segment">
    <form class="ui large form" id="newContact">
      <div class="field" id="emailField ">
        <label for="email">Adresse de la personne à contacter</label>
        <input type="email" name="email" id="email" placeholder="Email de ton contact">
      </div>
      <div class="field">
        <button type="submit" class="ui large primary fluid button" id="newContactBtn">
          Envoyer anonymement
        </button>
      </div>
    </form>
  </div>
</template>
