<template name="info">
  <div class="ui inverted centerthis segment">
    <h3 class="ui red header">Hey Toi, c'est quoi ?</h3>
    <div class="ui large list">
      <div class="item">C'est un site qui te permet de tchatter avec une personne sans qu'elle ne sache qui tu es (tant que tu ne le dis pas).</div>
      <div class="item">C'est un site respectueux pour toi et ton contact, vous pouvez chacun supprimer la conversation quand vous le voulez.</div>
    </div>
    <h3 class="ui red header">Hey Toi, comment ça marche ?</h3>
    <div class="ui large list">
      <div class="item">Quand tu envois ta demande, tu rejoins immédiatement le tchat via ton lien unique.</div>
      <div class="item">Dans le même temps, ton contact reçois son lien unique vers le même tchat.</div>
      <div class="item">Quand ton contact rejoins le tchat, la conversation peut commencer.</div>
    </div>
  </div>
</template>
