<template name="info">
  <div class="ui secondary segment">
    <h3 class="ui header">Hey Toi, c'est quoi ?</h3>
    <div class="ui large list">
      <div class="item">C'est un site qui te permet de tchatter avec une personne sans qu'elle ne sache qui tu es (tant que tu ne le dis pas).</div>
      <div class="item">C'est un site fait pour vaincre ta timidité.</div>
      <div class="item">C'est un site respectueux pour toi et ton contact, vous pouvez chacun supprimer la conversation quand vous le voulez.</div>
    </div>
    <h4 class="ui header">Données et cookies.</h4>
    <div class="ui list">
      <div class="item"><strong>Chaque lien de conversation est unique et personnel, le passer à quelqu'un lui permet de parler à ta place.</strong></div>
      <div class="item">Ce site n'utilise aucun cookie et n'enregistre que les données que tu veux bien lui donner.</div>
      <div class="item">La suppression d'une conversation, par l'un des participants, est immédiate et irrévocable.</div>
      <div class="item">Aucune liste n'est créée par ce site. L'adresse du contact est utilisée uniquement pour envoyer le lien vers la conversation et n'est pas enregistrée.</div>
      <div class="item">Ce site utilise le <a href="https://developer.mozilla.org/fr/docs/Web/API/Window/localStorage" target="_blank">localStorage</a> de ton navigateur pour conserver tes conversations actives.</div>
      <div class="item">Le <a href="https://github.com/guidouil/heytoi" target="_blank">code source</a> de ce site est publique et vous pouvez <a href="https://twitter.com/guidouil" target="_blank">me suivre</a> ou me <a href="https://www.paypal.me/cmapage" target="_blank">payer un café</a> si vous voulez.</div>
    </div>
  </div>
</template>
