<template name="data">
  <div class="ui inverted centerthis segment">
    <h4 class="ui red header">Données et cookies.</h4>
    <div class="ui list">
      <div class="large item">Chaque lien de conversation est unique et personnel, le passer à quelqu'un lui permet de
          parler à ta place.</div>
      <div class="item">Ce site n'utilise aucun cookie et n'enregistre que les données que tu veux bien lui donner. L'adresse IP du créateur de la conversation est enregistrée pour éviter tout litige.</div>
      <div class="item">La suppression des messages d'une conversation, par l'un des participants, est immédiate et irrévocable. Sont conservé le compteur de messages et les dates de création et modification.</div>
      <div class="item">Aucune liste n'est créée par ce site. L'adresse du contact est utilisée uniquement pour envoyer le
        lien vers la conversation et n'est pas enregistrée.</div>
      <div class="item">Ce site utilise le <a href="https://developer.mozilla.org/fr/docs/Web/API/Window/localStorage"
          target="_blank">localStorage</a> de ton navigateur pour conserver tes conversations actives.</div>
      <div class="item">Le <a href="https://github.com/guidouil/heytoi" target="_blank">code source</a> de ce site est
        public et tu peux <a href="https://twitter.com/guidouil" target="_blank">me suivre</a> ou me <a href="https://www.paypal.me/cmapage"
          target="_blank">payer un café</a> si tu veux.</div>
      <div class="item">Je décline toute responsabilité quant à l'usage de ce site. Si quelqu'un t'importune avec ce site
        tu peux bloquer "<em>moi.lerobot@mail.heytoi.fr</em>" dans ton client emails.</div>
    </div>
  </div>
</template>
